/* Style des champs de formulaire valides */
.form-control-add-book:valid {
    border: 1px solid #4CAF50;
}

/* Style des champs de formulaire invalides */
.form-control-add-book:invalid {
    border: 1px solid #FF5733;
}

.form-control-label{
    margin: 10px;
}

/* Style pour les messages d'erreur */
.error-message {
    color: #FF5733;
    font-size: 14px;
}