/* styles pour la page auteur */
.author-content {
    background-color: bisque;
    text-align: center;
    padding: 20px;
}

.author-content h1{
    color: black;
    margin-bottom: 50px;
}

.author-content ul {
    display: flex;
    list-style: none;
    align-items: center;
    padding: 0;
    margin: 0;
}

.author-content ul li {
    text-align: center;
    margin: 10px;
}

.author-content ul li img {
    max-width: 100%;
    height: auto;
    display: block;
}