/* Style de la section des commentaires */
.comment-section {
    background-color: #f7f7f7;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-top: 20px;
}

/* Style du titre des commentaires */
.comment-section h2 {
    font-size: 24px;
    color: #333;
}

/* Style de la liste des commentaires */
.comment-section ul {
    list-style-type: none;
    padding: 0;
}

/* Style des commentaires individuels */
.comment-section li {
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    background-color: #fff;
}

/* Style du texte du commentaire */
.comment-section p {
    margin: 0;
    font-size: 16px;
    color: #555;
}

/* Style de l'information de l'utilisateur et de la date */
.comment-section .user-info {
    font-size: 14px;
    color: #777;
}

/* Style du formulaire de commentaire */
.comment-form {
    margin-top: 20px;
}

.comment-form textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.comment-form button {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
}

.comment-form button:hover {
    background-color: #0056b3;
}

/* Style du bouton de suppression */
.delete-comments {
    background-color: #bb2c2c;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}