/*
Le style des options supplémentaires disponibles dans la page
detail.html
*/

.delete-comment-form{
    display: flex;
    flex-direction: row-reverse;
}

/* Style du bouton de suppression au survol */
.delete-comments:hover {
    background-color: #ff3333;
}

.delete-book{
    background-color: #bb2c2c;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.delete-book:hover{
    background-color: #692323;
}