/*
    Ce fichier permet d'affecter un style/format de base 
    pour certaines classes afin de na pas avoir à toujours
    retaper le même style plusieurs fois dans plusieurs
    fichiers.
*/

body{
    background-color: bisque;
}

img{
    transition: transform 0.3s ease;
}
img:hover{
    transform: scale(1.1);
    transition: transform 0.3s ease;
    cursor: pointer;
}

/* Style par défaut pour les champs de formulaire */
.form-control {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.form-control-add-book{
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.invalid-input{
    border: 1px solid #FF5733;
}

.mes-boutons {
    display: flex;
    justify-content: space-between;
}

.button-margin{
    margin-top: 20px;
}

button{
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
}

.button-format{
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    text-decoration: none;
}

h1{
    color:red;
    text-align: center;
}

div.sample{
    text-align: center;
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 50px;
}

main{
    margin-top:  8em;
}

main > .container{
    padding:  60px 15px 0;
}

form{
    margin-top: 50px;
}

.search-button{
    background-color: grey;
}

.search-button:hover{
    color: black;
}