/*Style pour la page de résultats*/

/* Styles pour les auteurs */
h2.auteur {
    font-size: 24px;
    color: #333;
    margin: 20px 0;
}

/* Styles pour les livres */
h2.livres {
    font-size: 24px;
    color: #333;
    margin: 20px 0;
}

/* Styles pour les éléments li (auteur ou livre) */
.search-li {
    font-size: 18px;
    margin-top: 25px;
    list-style-type: none;
    border-top: 1px solid #ccc;

}

/* Styles pour le cas où il n'y a pas d'auteurs ni de livres */
h2.not-found {
    font-size: 24px;
    color: #f00; /* Rouge pour indiquer un message d'erreur */
    margin: 20px 0;
}
