{% extends "base.html" %}
{% block styles %}
{{ super()}}
<link rel="stylesheet" href="{{url_for('static',filename='myapp.css') }}">
<link rel="stylesheet" href="{{url_for('static',filename='auteur.css') }}">
{% endblock %}
{% block content %}
    <div class = 'author-content'>
        {% if books == [] %}
            <h1>Il n'y a pas de livre enregistré pour cet auteur</h1>
        {% else %}
        <h1>Voici les livres enregistrés crées par {{ author.name }}</h1>
        <ul>
            {% for book in books %}
                {% if book.author == author.name %}
                    <li>
                        <a href="{{url_for('detail', id=book.id)}}">
                            <img src="{{url_for('static', filename = 'images/'+book.img)}}" alt="image livre {{book.title}}" title = "{{book.title}}">
                        </a>
                    {{book.title}}
                    </li>
                {% endif %}
            {% endfor %}
        </ul>
        {% endif %}
    </div>
{% endblock %}