{% extends "base.html" %}
{% block styles %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='myapp.css') }}">
{% endblock %}
{% block content %}

<form class="form-horizontal" role="form" method="POST" action="{{ url_for('registration') }}">
    {{ form.hidden_tag() }}
    <h2>Créer un nouveau compte</h2>

    <div class="form-group">
        <label for="username" class="col-sm-2 control-label">{{ form.username.label }}</label>
        <div class="col-sm-10">
            {{ form.username(size=50, class_="form-control", placeholder="Nom d'utilisateur") }}
        </div>
    </div>

    <div class="form-group">
        <label for="password" class="col-sm-2 control-label">{{ form.password.label }}</label>
        <div class="col-sm-10">
            {{ form.password(size=50, class_="form-control", placeholder="Mot de passe") }}
        </div>
    </div>

    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button class="button-margin" type="submit">Créer un compte</button>
        </div>
    </div>
</form>

<p>Déjà un utilisateur ? <a href="{{ url_for('login') }}">Connectez-vous ici</a></p>

{% endblock %}
