{% extends "base.html" %}
{% block styles %}
{{ super() }}
<link rel="stylesheet" href="{{url_for('static', filename='myapp.css') }}">
<link rel="stylesheet" href="{{url_for('static', filename='search.css') }}">
{% endblock %}
{% block content %}
{% if results %}
    <ul>
        {% for result in results %}
        <li class="search-li">
            {% if result.__class__.__name__ == 'Author' %}
                Auteur: <a href="{{ url_for('auteur', id=result.id) }}">{{ result.name }}</a>
            {% elif result.__class__.__name__ == 'Book' %}
                <a href="{{ url_for('detail', id=result.id-1) }}">
                    <img src="{{url_for('static', filename='images/' + result.img)}}" alt="image livre {{ result.title }}" title="{{ result.title }}">
                    {{ result.title }}
                </a>
            {% endif %}
        </li>
        {% endfor %}
    </ul>
{% else %}
    <h2 class="not-found">Not Found</h2>
{% endif %}
{% endblock %}
